/* styles */
@import url('https://googleapis.com');

h1 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: blue}
h2 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: 700px}
p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px}

/* elements */
div.formbox {
  border: 4px solid;
  width: 100%}
